<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Revied</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptas earum rerum inventore dignissimos delectus perferendis quod, eligendi eaque.</p>
    <p><%= link_to 'Sign Up For Write A Review', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
